* {
  font-family:'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
a {
  text-decoration: none;
  color: #212529;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,.logo {
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
}
/* home */
.home {
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-size: cover;
}
.logo{
  font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-nav .nav-item a{
  font-size: 14px !important; 
}
 .navbar-nav .nav-item a::before {
  content: "";
  background-color: #fff;
  width: 0;
  position: absolute;
  margin-left: 0px;
  bottom: 25%;
  /*right: 45%;
    */
  height: 2px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
 .navbar-nav .nav-item .active::before {
  content: "";
  background-color: #fff;
  width: 60%;
  position: absolute;
  margin-left: 0px;
  bottom: 25%;
  /* right: 45%; */
  height: 2px;
}
 .navbar-nav .nav-item a:hover::before {
  width: 60%;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
.homeContant h1 span {
  font-size: 4.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
@media screen and (max-width: 600px){
  .homeContant h1 span {
    font-size: 2.4rem;
  }
}
.homeContant h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 800;
}
.home .ico-circle {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.homeContant h1 .animat-text::after {
  content: "";
  animation: typing 7s infinite;
  font-weight:400;
  font-family: 'Montserrat', sans-serif;
  color: white;
  -webkit-animation: typing 7s infinite;
}
@keyframes typing {
  0% {
    content: "|";
  }
  2% {
    content: "La|";
  }
  4% {
    content: "Larr'|";
  }
  6% {
    content: "Larry '|";
  }
  8% {
    content: "Larry Da|";
  }
  10% {
    content: "Larry Dani|";
  }
  12% {
    content: "Larry Danie|";
  }
  14% {
    content: "Larry Daniels|";
  }
  16% {
    content: "Larry Daniels|";
  }
  18% {
    content: "Larry Daniels|";
  }
  20% {
    content: "Larry Daniels|";
  }
  22% {
    content: "Larry Daniels|";
  }
  24% {
    content: "Larry Dan|";
  }
  26% {
    content: "Larry D|";
  }
  28% {
    content: "Larr|";
  }
  30% {
    content: "La|";
  }
  32% {
    content: "|";
  }
  34% {
    content: "|";
  }

  36% {
    content: "De|";
  }
  38% {
    content: "Deve|";
  }
  40% {
    content: "Develo|";
  }
  42% {
    content: "Developer|";
  }
  44% {
    content: "Developer|";
  }
  46% {
    content: "Developer|";
  }
  48% {
    content: "Developer|";
  }
  50% {
    content: "Developer|";
  }
  52% {
    content: "Developer|";
  }
  54% {
    content: "Develop|";
  }
  56% {
    content: "Develo|";
  }
  58% {
    content: "Deve|";
  }
  60% {
    content: "De|";
  }
  62% {
    content: "|";
  }
  64% {
    content: "D|";
  }
  66% {
    content: "Des|";
  }
  68% {
    content: "Desig|";
  }
  70% {
    content: "Designer|";
  }
  72% {
    content: "Designer|";
  }
  74% {
    content: "Designer|";
  }
  76% {
    content: "Designer|";
  }
  78% {
    content: "Designer|";
  }
  80% {
    content: "Designer|";
  }
  82% {
    content: "Designer|";
  }
  84% {
    content: "Design|";
  }
  86% {
    content: "Design|";
  }
  88% {
    content: "Desig|";
  }
  90% {
    content: "Des|";
  }
  92% {
    content: "D|";
  }
  94% {
    content: "|";
  }
  100% {
    content: "|";
  }
}


/* about */

.about .hero-img {
  padding: 0 0 0 30px;
  position: relative;
  z-index: 3;
}

.about .hero-img::after {
  content: "";
  width: 80%;
  height: 80%;
  position: absolute;
  left: 0px;
  bottom: -30px;
  background-image: url(../img/dots.png);
  background-repeat: repeat;
  z-index: -1;
}
.about .title-left{
  font-weight: 800;
  margin-bottom: 5px;
}
.about .sub-title{
  color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
}
.about p{
  line-height: 1.6;
  margin: 0;
  padding-top: 2px;
  font-size: 13px;
  color: #748182;
}
.about b{
  font-weight: 700;
  color: #748182;
}
.progress {
  height: 1.5rem !important;
  box-shadow: 0px 2px 7px rgb(0 0 0 / 15%) inset;
}
.progress-bar {
  display: flex !important;
  flex-wrap: nowrap !important;
  background-color: #1c1c1c !important;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}
 .btn-dark {
  --bs-btn-bg: #1c1c1c;
  --bs-btn-hover-bg: #f7f7f7;
  --bs-btn-hover-color: #1c1c1c;
  font-size: 13px;
  padding: 10px 30px !important;
}

.btn-outline-dark {
  --bs-btn-hover-bg: #1c1c1c;
  font-size: 13px;
  padding: 10px 30px !important;
}
/* services */
.services {
  background-color: #f7f7f7;
}
.title-a {
  font-weight: 900;
  font-size: 40px;
  position: relative;
  display: inline-block;
  z-index: 4;
  color: #434343;
 

}
.subtitle-a {
  color: #4e4e4e;
}
.line-mf {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin: 0 auto;
}
.service-box {
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  border-radius: 2%;
  box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
}
.service-box i {
  font-size: 1.5rem;
  text-align: center;
  background-color: #f5f5f5;
  padding: 22px 22px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.services .ico-circle {
  text-align: center;
  display: block;
}
.services .service-box:hover i {
  background-color: #1c1c1c;
  color: white;
}
.service-box h6{
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 18px;
}
.service-box p{
  word-spacing: 2px;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
}


/* Work */

.w-title {
  font-size: 1.2rem;
}
.title h3:after {
  content: "";
  width: 100%;
  height: 30px;
  background-image: url(../img/dots.png);
  background-repeat: repeat;
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: -1;
}
.tabs .overlay-item {
  position: absolute;
  width: 95%;
  height: 95%;
  top: 10%;
  margin: 7px 9px;
  background-color: white;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  opacity: 0;
}
.tabs .item-overlay-contant h6 {
  font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
  position: relative;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}
.tabs .item-overlay-contant h6 {
  position: relative;
  margin-bottom: 30px;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}
.tabs .item-overlay-contant .icon-item {
  position: relative;
  margin-top: 30px;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}
.tab-content .item:hover .overlay-item {
  top: 0;
  opacity: 1;
}
.tab-content .item:hover .item-overlay-contant h6 {
  margin-bottom: 0px !important;
}
.tab-content .item:hover .item-overlay-contant .icon-item {
  margin-top: 10px !important;
}

.tab-content .icon-item a {
  border: solid 1px #1c1c1c;
  border-radius: 50%;

  background-color: #1c1c1c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 3px 5px;
}
.tab-content .icon-item a:hover {
  background-color: white;
}
.tab-content .icon-item a:hover i {
  color: #1c1c1c !important;
}

  .nav-tabs{
  --bs-nav-tabs-border-width: 0px;
  margin: auto !important;  
}
 .nav-tabs .nav-link.active::before {
 content: "";
  background-color: rgb(15, 15, 15);
  width: 45%;
  position: absolute;
  margin-left: 0px;
  bottom: 25%;
  height: 2px;
}
.nav-tabs .nav-link::before {
  content: "";
  background-color: #fff;
  width: 0;
  position: absolute;
  margin-left: 0px;
  bottom: 25%;
  height: 2px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
 .nav {
  justify-content: center;
  margin: 2rem !important;
}
 .nav-tabs .nav-link{
  margin: 0 10px;
  color: #222;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

/* start testimonials */
.testimonials {
  background-color: #f7f7f7;
}

.img-slider {
  margin: auto;
  width: 150px;
}

.img-slider img {
  width: 100%;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.carousel-caption {
  position: static;
  text-align: center !important;
  margin: auto;
  width: 82%;
}
.carousel-caption p {
  color: #748182 !important;
  text-align: center;
}
.carousel-caption h6 {
  color: #343434 !important;
  margin-bottom: 0 !important;
  text-align: center;
}
.carousel-caption span {
  font-size: 12px;
  font-weight: 600;
  color: #888;
}
@media screen and (max-width: 991px) {
  .carousel-caption {
    width: 100%;
  }
}

.carousel-indicators {
  margin-bottom: 0;
  margin-top: 2rem !important;
  bottom: -50px;
}
.carousel-indicators [data-bs-target] {
  margin-top: 2rem !important;
  background-color: #869791 !important;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* counter-section */
.counter-section {
  background-color: white;
}
.counter-section .item h3,
i {
  text-align: center !important ;
  font-weight: 900;
  margin-bottom: 15px;
}

.counter-section p {
  line-height: 1.6;
  margin: 0;
  font-size: 15px;
  color: #748182;
  font-weight: 600;
  text-align: center;
}

/* Blog */
.blog {
  background-color: #f5f5f5;
  padding: 5rem;
}
.card img {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.card img:hover {
  scale: 1.2;
}
.card-body h6 {
  font-size: 12px;
  font-weight: 600;
  color: #888;
  margin-bottom: 10px;
}
.card-body h4 {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 15px;
}
.card-body span {
  border-bottom: 2px solid #333;
}
/* contact */
.contact .item {
  text-align: center;
}
.contact .item i {
  font-size: 1.5rem;
  text-align: center;
  background-color: #f5f5f5;
  padding: 22px 22px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}
.contact .item:hover i {
  color: white !important;
  background-color: #1c1c1c !important;
}
.contact .item p {
  line-height: 1.6;
  margin: 0;
  font-size: 15px;
  color: #748182;
  text-align: center;
}
.contact .item h6 {
 color: #1c1c1c;
 font-weight: 700;
 margin-bottom: 10px;
}
.contact .form input,
textarea {
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 8px;
  background: #f4f4f4;
  margin-bottom: 1rem;
}
/* footer */
footer{
  background: #1c1c1c  !important;
}
footer .copyright-box p {
  font-size: 13px;
  word-spacing: 2px;
  color: #748182 !important;
}
/* start rounded-circle to back home */
.rounded-circle {
  display: none;
  position: fixed;
  z-index: 1030;
  bottom: 8px;
  right: 10px;
  background-color: #0078ff;
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);
}

.rounded-circle i {
  color: #fff;
}


